body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy-Regular", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1400px;
}

button {
  font-family: inherit;
}

.section {
  overflow-y: visible;
  padding-top: 150px;
  padding-bottom: 160px;
}

.wave {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 3;
}

.wave svg {
  width: 101%;
}

.title {
  text-align: center;
  font-size: 30px;
  font-family: "Gilroy-Black", sans-serif;
  font-weight: 900;
  margin: 0;
  margin-bottom: 90px;
}

.header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background: #fff;
  z-index: 10;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  width: 200px;
  cursor: pointer;
}

.header-menu ul {
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu ul li {
  margin: 0 15px;
}

.header-menu ul li a {
  color: #3e3e3e;
  text-decoration: none;
}

.header-menu ul li a:hover {
  text-decoration: underline;
  color: #39b54a;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-contact__link {
  margin-left: 8px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #3e3e3e;
  font-size: 16px;
}

.header-contact__link:hover {
  text-decoration: underline;
  color: #39b54a;
}

.header-contact__button {
  font-size: 16px;
  background: none;
  color: #39b54a;
  border: none;
  cursor: pointer;
}

.header-contact__button span {
  text-decoration: underline;
}

.main {
  position: relative;
}

.main .container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-text {
  margin-left: 50px;
  max-width: 760px;
}

.main-text__title {
  line-height: 62px;
  margin: 0;
  font-family: "Gilroy-Black", sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: #3e3e3e;
  margin-bottom: 80px;
}

.main-text__button {
  cursor: pointer;
  position: relative;
  font-family: "Gilroy-Bold", sans-serif;
  line-height: 80px;
  font-size: 30px;
  color: #ffffff;
  background: rgba(28, 79, 136, 0.7);
  border-radius: 50px;
  border: none;
  padding: 0 50px;
  z-index: 1;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

.main-text__button::after {
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background: rgba(28, 79, 136, 0.7);
  top: 4px;
  left: 0;
  z-index: -1;
}

.main-text__button:hover {
  background: #6083ab;
}

.main-text__button:hover:after {
  background: #6083ab;
}

.main-img {
  top: calc(50% + 50px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  right: 50px;
  width: 830px;
  z-index: -1;
}

.main-brends {
  margin-bottom: 20px;
}

.main-brends__title {
  font-size: 18px;
  margin-bottom: 30px;
}

.main-brends__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-brends__list li {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-brends__list li span {
  margin: 0 30px;
  width: 1px;
  height: 20px;
  background: rgba(62, 62, 62, 0.5);
}

.main-brends__list li:nth-child(1) img {
  width: 75px;
}

.main-brends__list li:nth-child(2) img {
  width: 255px;
}

.main-brends__list li:nth-child(3) img {
  max-height: 40px;
}

.main-brends__list li:nth-child(4) img {
  max-height: 40px;
}

.about {
  position: relative;
  background: #6083ab;
  color: #fff;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-text {
  max-width: 700px;
  font-size: 20px;
  margin: 0;
}

.footer {
  background: #54535D;
  color: #fff;
  padding-bottom: 30px;
}

.footer-container {
  max-width: 800px;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  margin-bottom: 100px;
}

.footer-item__link {
  display: block;
  margin-bottom: 40px;
  color: #ffffff;
  text-decoration: none;
}

.footer-item__days {
  padding-top: 15px;
  padding-left: 30px;
  line-height: 1.5;
}

.footer-devs {
  margin-bottom: 35px;
}

.footer-devs a {
  color: #8BA2FF;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-small {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */