* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy-Regular", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1400px;
}

button {
  font-family: inherit;
}

.section {
  overflow-y: visible;
  padding-top: 150px;
  padding-bottom: 160px;
}

.wave {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 3;
}

.wave svg {
  width: 101%;
}

.title {
  text-align: center;
  font-size: 30px;
  font-family: "Gilroy-Black", sans-serif;
  font-weight: 900;
  margin: 0;
  margin-bottom: 90px;
}

.header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background: #fff;
  z-index: 10;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  width: 200px;
  cursor: pointer;
}

.header-menu ul {
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu ul li {
  margin: 0 15px;
}

.header-menu ul li a {
  color: #3e3e3e;
  text-decoration: none;
}

.header-menu ul li a:hover {
  text-decoration: underline;
  color: #39b54a;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-contact__link {
  margin-left: 8px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #3e3e3e;
  font-size: 16px;
}

.header-contact__link:hover {
  text-decoration: underline;
  color: #39b54a;
}

.header-contact__button {
  font-size: 16px;
  background: none;
  color: #39b54a;
  border: none;
  cursor: pointer;
}

.header-contact__button span {
  text-decoration: underline;
}

.main {
  position: relative;
}

.main .container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-text {
  margin-left: 50px;
  max-width: 760px;
}

.main-text__title {
  line-height: 62px;
  margin: 0;
  font-family: "Gilroy-Black", sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: #3e3e3e;
  margin-bottom: 80px;
}

.main-text__button {
  cursor: pointer;
  position: relative;
  font-family: "Gilroy-Bold", sans-serif;
  line-height: 80px;
  font-size: 30px;
  color: #ffffff;
  background: rgba(28, 79, 136, 0.7);
  border-radius: 50px;
  border: none;
  padding: 0 50px;
  z-index: 1;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

.main-text__button::after {
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background: rgba(28, 79, 136, 0.7);
  top: 4px;
  left: 0;
  z-index: -1;
}

.main-text__button:hover {
  background: #6083ab;
}

.main-text__button:hover:after {
  background: #6083ab;
}

.main-img {
  top: calc(50% + 50px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  right: 50px;
  width: 830px;
  z-index: -1;
}

.main-brends {
  margin-bottom: 20px;
}

.main-brends__title {
  font-size: 18px;
  margin-bottom: 30px;
}

.main-brends__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-brends__list li {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-brends__list li span {
  margin: 0 30px;
  width: 1px;
  height: 20px;
  background: rgba(62, 62, 62, 0.5);
}

.main-brends__list li:nth-child(1) img {
  width: 75px;
}

.main-brends__list li:nth-child(2) img {
  width: 255px;
}

.main-brends__list li:nth-child(3) img {
  max-height: 40px;
}

.main-brends__list li:nth-child(4) img {
  max-height: 40px;
}

.about {
  position: relative;
  background: #6083ab;
  color: #fff;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-text {
  max-width: 700px;
  font-size: 20px;
  margin: 0;
}

.products {
  background: #6083ab;
}

.products-title {
  color: #fff;
  margin-bottom: 20px;
}

.products-form {
  font-size: 18px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 40px;
}

.products-form__group .fas {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.products-form__group .fas_active {
  -webkit-transform: translateY(-50%) rotateX(180deg);
          transform: translateY(-50%) rotateX(180deg);
}

.products-form__select {
  overflow: hidden;
  width: 190px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f6f6f6;
  right: 0;
  top: 100%;
  border-radius: 0 0 10px 10px;
  border: 1px solid #dcdcdc;
  -webkit-box-shadow: 0 5px 5px rgba(62, 62, 62, 0.25);
          box-shadow: 0 5px 5px rgba(62, 62, 62, 0.25);
}

.products-form__select input {
  display: none;
}

.products-form__select label {
  padding: 5px 0;
  width: 100%;
  text-align: center;
}

.products-form__select label:hover {
  background: #dddddd;
  cursor: pointer;
}

.products-form__select_value {
  position: relative;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #f6f6f6;
  font-family: inherit;
  text-transform: lowercase;
  font-size: 18px;
  padding: 10px 0;
  width: 190px;
  text-align: center;
}

.products-form__select_value:focus {
  outline: none;
  border: 1px solid #3e3e3e;
}

.products-form__input {
  margin-left: 5px;
  line-height: 40px;
  width: 350px;
  padding-left: 20px;
  padding-right: 50px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  background: #f6f6f6;
  font-size: 18px;
  font-family: inherit;
}

.products-form__input:focus {
  outline: none;
  border: 1px solid #3e3e3e;
}

.products-subtitle {
  color: #fff;
  text-align: center;
  margin-bottom: 100px;
  font-size: 16px;
}

.products-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-icon {
  font-size: 10px;
  color: rgba(62, 62, 62, 0.5);
  cursor: pointer;
}

.products-item {
  background: #fff;
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 10px rgba(62, 62, 62, 0.35);
          box-shadow: 0 10px 10px rgba(62, 62, 62, 0.35);
  margin-bottom: 50px;
  overflow: hidden;
}

.products-item__img {
  max-width: 180px;
}

.products-item__img img {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

.products-item__content {
  width: 360px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-item__text {
  padding: 10px 15px 30px 20px;
}

.products-item__list {
  padding-left: 10px;
}

.products-item__list li {
  position: relative;
}

.products-item__button {
  width: 100%;
  line-height: 60px;
  border: none;
  background: #6083ab;
  color: #ffffff;
  font-size: 20px;
  font-family: "Gilroy-Black", sans-serif;
  font-weight: 900;
  border-radius: 0;
}

.products-item__title {
  font-size: 25px;
  font-family: "Gilroy-Black", sans-serif;
  font-weight: 900;
  margin: 0;
}

.products-item__descr {
  top: -20px;
  display: block;
  position: absolute;
  background: #fff;
  z-index: 1;
  border: 1px solid rgba(62, 62, 62, 0.5);
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0 5px 5px rgba(62, 62, 62, 0.35);
          box-shadow: 0 5px 5px rgba(62, 62, 62, 0.35);
}

.products_all {
  background: #fff;
}

.products_all .products-title {
  color: #3e3e3e;
  margin-bottom: 100px;
}

.footer {
  background: #54535D;
  color: #fff;
  padding-bottom: 30px;
}

.footer-container {
  max-width: 800px;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  margin-bottom: 100px;
}

.footer-item__link {
  display: block;
  margin-bottom: 40px;
  color: #ffffff;
  text-decoration: none;
}

.footer-item__days {
  padding-top: 15px;
  padding-left: 30px;
  line-height: 1.5;
}

.footer-devs {
  margin-bottom: 35px;
}

.footer-devs a {
  color: #8BA2FF;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-small {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */