.about
  position: relative
  background: $active_alt
  color: #fff
  .container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  &-text
    max-width: 700px
    font-size: $text
    margin: 0