.about
  position: relative
  padding-top: 50px
  .container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  &-title
    margin-bottom: 100px
  &-text
    max-width: 700px
    font-size: $text